header
{
	font-size:  2rem;
}

.zone 
{
	text-align: center;
	border: solid 3px blueviolet;
	border-radius: 30px;
	padding: 2%;
}

.bt
{
	border: solid 3px blueviolet;
	border-radius: 30px;
}
.txt
{
	border-radius: 30px;
	font-family: cursive;
	background-color: lightpink;
}
table
{
	background-color: #00b5ff;
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	border: 3px solid #00a5ff;
	border-radius: 15px;

}
.ans
{
	font-size: 1.5rem;
	background: url("fond.jpg");
}
td
{
	text-align: center;
	background-color: #00b5ff;
	border: 1px solid #00b5ff;
}
.vide
{
	background-color: #00b5ff;
	border: solid #00b5ff;
}
